<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>dama project</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/website/application/theme/css/style.css"
    />
    <script src="/website/application/jquery/form-validation.min.js"></script>
    <script src="/website/application/jquery/jquery.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="headerone">
      <!-- <div class="container">
        <div class="logo-1">
          <span
            ><img src="/website/application/theme/image/letter.png" class="le"
          /></span>
          <h5><a href="mailto:info@transpo.com">info@transpo.com</a></h5>
        </div>
        <div class="linked">
          <img src="/website/application/theme/image/location.png" class="lo" />
          <h6>768 Market Street San Francisco,CA 64015,United States</h6>
        </div>
      </div> -->
    </header>
    <header class="headertwo">
      <!-- <div class="container">
        <div class="logo-2">
          <a href="/">
            <img src="/website/application/theme/image/blue.png" class="bl" />
          </a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/about">About</a></li>
            
            <li><a href="/who-are-we">Who are we</a></li>
            <li><a href="/what-we-do">What we do</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/share">Share</a></li>
            <li class="phn">
              <img
                src="/website/application/theme/image/phone.png"
                class="ph"
              /><a href="tel:001-234-5678">001-234-5678</a>
            </li>
            <li class="lis">Request a Quote</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div> -->
    </header>
  </body>
</html>
