<!DOCTYPE html>
<html lang="en">
<%- include('./include/header'); %>

    <head>
        <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
        <link rel="stylesheet" type="text/css" href="/admin//theme/css/style.css">
    </head>
    <style>
        .search button {
            font-size: 14px;
            padding: 14px 24px !important;
            background: #0056b3 !important;
            color: #fff;
            border-radius: 0;
            border: 0;
            margin-bottom: 16px;
        }

        .search {
            width: auto;
        }
    </style>

    <body>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            <%- include('./include/topbar'); %>
                <div class="d-flex justify-content-between">
                    <%- include('./include/sidebar'); %>
                        <!-- partial -->

                        <div class="content-side" id="content-side">
                            <!-- partial:../../partials/_settings-panel.html -->
                            <div class="theme-setting-wrapper">
                                <div id="settings-trigger"><i class="ti-settings"></i></div>
                                <div id="theme-settings" class="settings-panel">
                                    <i class="settings-close ti-close"></i>
                                    <p class="settings-heading">SIDEBAR SKINS</p>
                                    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                                        <div class="img-ss rounded-circle bg-light border mr-3"></div>
                                        Light
                                    </div>
                                    <div class="sidebar-bg-options" id="sidebar-dark-theme">
                                        <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                                        Dark
                                    </div>
                                    <p class="settings-heading mt-2">HEADER SKINS</p>
                                    <div class="color-tiles mx-0 px-4">
                                        <div class="tiles success"></div>
                                        <div class="tiles warning"></div>
                                        <div class="tiles danger"></div>
                                        <div class="tiles info"></div>
                                        <div class="tiles dark"></div>
                                        <div class="tiles default"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- partial -->
                            <!-- partial:../../partials/_sidebar.html -->

                            <!-- partial -->
                            <div class="main-panel">
                                <div class="container-custom">
                                    <div class="container">
                                        <div class="card-body22">
                                            <div class="row">
                                                <div class="col-lg-12 grid-margin stretch-card">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <div class="Search mb-5">
                                                                <p class="card-description UsersDetails pl-0"> Resource
                                                                    List
                                                                </p>
                                                                <div class="search d-flex justify-content-end gap-3">
                                                                    <div style="width: 80px;">
                                                                        <select class="form-control h-100 rounded-0" id="pagination"
                                                                            class="back">
                                                                            <option value="10" selected>10</option>
                                                                            <option value="25">25</option>
                                                                            <option value="50">50</option>
                                                                            <option value="1000">1000</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="add-btn">
                                                                        <a href="/admin/resource">
                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                width="24" height="24"
                                                                                fill="currentColor" class="bi bi-plus"
                                                                                viewBox="0 0 16 16">
                                                                                <path
                                                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4">
                                                                                </path>
                                                                            </svg>
                                                                            Add Resource
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            

                                                            <div class="table-responsive dynamic-listing"
                                                                id="excelfile">
                                                                <table class="table table-striped">

                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                TITLE
                                                                            </th>
                                                                            <th>
                                                                                IMAGE
                                                                            </th>
                                                                            <th>
                                                                                PRICE
                                                                            </th>
                                                                            <th>
                                                                                CREATED
                                                                                AT
                                                                                <i class="fa fa-fw fa-sort"></i>
                                                                            </th>
                                                                            <th>
                                                                                ACTION
                                                                                <i class="fa fa-fw fa-sort"></i>
                                                                            </th>
                                                                        </tr>
                                                                    <tbody>
                                                                    </tbody>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="loader" id="dataLoader"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- content-wrapper ends -->
                                <!-- partial:../../partials/_footer.html -->
                                <!-- partial -->
                            </div>
                            <!-- main-panel ends -->
                        </div>
                </div>
                <!-- page-body-wrapper ends -->
        </div>
        <%- include('./include/footer'); %>
            <!-- endinject -->
            <!-- Custom js for this page-->
            <!-- End custom js for this page-->
    </body>


</html>

<script>
    var KWACHA_ADMIN = {};

    KWACHA_ADMIN.init = function (pageNum, sortBy, sortOrder, searchValue, perPage) {
        page_num = pageNum ? pageNum : 0;
        var KWACHA_ADMIN_PAGE_CONFIG = {
            url: "get-resource-list-Ajax",
            pageNumber: page_num,
            sortBy: sortBy,
            sortOrder: sortOrder,
            keywords: searchValue,
            perPage: perPage,
        };
        KWACHA_MAIN.loadPageData(pageNum, KWACHA_ADMIN_PAGE_CONFIG);
    };
    KWACHA_ADMIN.sortBy = function (sortBy, sortOrder, perPage) {

        $("#loading").show();
        if (sortOrder == 'ASC') {
            sortOrder = 'DESC';
        } else {
            sortOrder = 'ASC';
        }
        var KWACHA_ADMIN_PAGE_CONFIG = {
            url: "get-resource-list-Ajax",
            pageNumber: 0,
            sortBy: sortBy,
            sortOrder: sortOrder,
            perPage: perPage,
            perPage: perPage,
        };

        KWACHA_MAIN.loadPageData(0, KWACHA_ADMIN_PAGE_CONFIG);
    }
    KWACHA_ADMIN.init(0, 'r_created', 'ASC');


    $("#search").on('input', function () {
        clearTimeout(this.delay);
        this.delay = setTimeout(function () {
            $(this).trigger('search');
        }.bind(this), 2000);
    }).on('search', function () {
        if (this.value) {
            $("#loading").show();
            let searchValue = $("#search").val();
            KWACHA_ADMIN.init(0, 'r_created', 'ASC', searchValue);

        }
    });
    $("#pagination").change(function () {
        let perPage = $('#pagination').val();
        $("#loading").show();
        var KWACHA_ADMIN_PAGE_CONFIG = {
            url: "get-resource-list-Ajax",
            pageNumber: 0,
            sortBy: 'r_created',
            sortOrder: 'ASC',
            perPage: perPage,
        };
        KWACHA_MAIN.loadPageData(0, KWACHA_ADMIN_PAGE_CONFIG);

    });



</script>